<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Reply Notification</title>
</head>
<body>
    <h1> Hello <%= data?.name %></h1>
    <p>A new reply has added to your question is the video <%= data?.title %></p>
    <p>please login to our website ti view the reply and continue the discussion.</p>
    <p>thank you for being a part of our company!</p>
</body>
</html>